__pycache__/
venv/
myenv/
.DS_Store

.idea
*.log
db.sqlite3
npm-debug.log
*.pyc
/.ipynb_checkpoints/
.vscode
templates/index.html
.env
frontend/src/config.js
frontend/etc/
frontend/test/unit/coverage/
/modules/code/
/files/static
frontend/assets/
/.cache/
.vs/
*.bak
frontend/package-lock.json
export/storage/*
/build
ghostdriver.logs
pip_packages/
frontend/.cache/
*.h5
geckodriver.log
ghostdriver.log
docker-compose.png
postgres.tar
nginx.tar
venv_linux/
files/static/*
templates/static/
.pytest_cache
/media/
/frontend/node_modules/
backend/logs/*